@mixin default-animation {
  transition: all 0.5s ease;
}
@mixin underline {
  &::after {
    content: '';
    height: 1px;
    left: 0;
    bottom: 0;
    width: 10%;
    position: absolute;
    background: $mainTextColor;
    animation: underline 1s forwards;
  }
  @keyframes underline {
    100% {
      width: 100%;
    }
  }
}
