@import './_variables.scss';
@import './breakpoints.scss';

// Container mixin
@mixin container {
  width: 100%;
  max-width: 1440px;
  padding-right: $desktop-padding;
  padding-left: $desktop-padding;
  margin: 0 auto;

  @include laptop {
    padding-right: $laptop-padding;
    padding-left: $laptop-padding;
  }
  @include tablet-large {
    padding-right: $tablet-large-padding;
    padding-left: $tablet-large-padding;
  }
  @include tablet-medium {
    padding-right: $tablet-medium-padding;
    padding-left: $tablet-medium-padding;
  }
  @include mobile-medium {
    padding-right: $mobile-medium-padding;
    padding-left: $mobile-medium-padding;
  }
  @include mobile-small {
    padding-right: $mobile-small-padding;
    padding-left: $mobile-small-padding;
  }
}

// Default animation mixin
@mixin default-animation {
  transition: all 0.5s ease;
}

// Underline mixin
@mixin underline($color, $bottom-value) {
  &::after {
    content: '';
    height: 1px;
    left: 0;
    bottom: $bottom-value;
    width: 10%;
    position: absolute;
    background: $color;
    animation: underline 1s forwards;
  }
  @keyframes underline {
    100% {
      width: 100%;
    }
  }
}
@mixin underline-events-color($color) {
  &::after {
    background: $color;
  }
}
// Border for input & textarea mixin
@mixin input-textarea-border {
  border: 2px #1f1f1f solid;
  border-radius: 4px;
}

// Flex center mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Column flex
@mixin column-flex($gap) {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}
