$mainTextColor: #1f1f1f;
$secondaryAccentColor: #fda3c4;
$buttonTextColor: #fff;
$activeAccentColor: #f40000;
$disabledButtonColor: #ffe6ef;
$disabledTextColor: #909090;
$mainFontFamily: 'Montserrat', sans-serif;
$additionalFontFamily: 'SundayBest', sans-serif;
