$mainFontSize: 16px;

$mainTextColor: #1f1f1f;
$secondaryAccentColor: #fda3c4;
$redAccentColor: #f40000;
$activeAccentColor: #f40000;

$secondaryTextColor: #fff;
$buttonTextColor: #fff;
$disabledButtonColor: #ffe6ef;
$disabledTextColor: #909090;

$mainFontFamily: 'Montserrat', sans-serif;
$additionalFontFamily: 'SundayBest', sans-serif;

$desktop-padding: 150px;
$laptop-padding: 50px;
$tablet-large-padding: 15px;
$tablet-medium-padding: 15px;
$mobile-medium-padding: 15px;
$mobile-small-padding: 15px;

$SvgFilter: invert(93%) sepia(59%) saturate(1634%) hue-rotate(289deg)
  brightness(99%) contrast(101%);
