@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.footer {
  background-color: $secondaryAccentColor;
}

.footerContainer {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-wrap: wrap;
  row-gap: 25px;
  @include tablet-large {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include tablet-medium {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
