@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

// Header global
.header {
  @include flex-center;
  @include underline($secondaryAccentColor, 0);
  position: relative;
}
.headerContainer {
  @include container;
  padding-top: 15px;
  padding-bottom: 15px;
}

//Header row
.headerRow {
  display: flex;
  justify-content: space-between;
}
