@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.returnInfoItem {
  @include flex-center;
  gap: 30px;
}
.itemImage {
  width: 120px;
  height: 120px;
  @include mobile-medium {
    height: 90px;
    width: 75px;
  }
}
.itemContent {
  max-width: 350px;
  color: $mainTextColor;
  line-height: 20px;
  @include mobile-medium {
    font-size: 12px;
    line-height: 15px;
  }
}
