@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.button {
  background: url('./img/bg-color.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-family: $additionalFontFamily;
  color: $buttonTextColor;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 13px;

  text-transform: uppercase;
  cursor: pointer;
  text-wrap: nowrap;
  @include default-animation;
  &:hover {
    color: $activeAccentColor;
  }
}
@include mobile-medium {
  .button {
    font-size: 12px;
  }
}
