@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.button {
  background: url('./svg/bg-color.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 180px;
  font-size: 14px;
  font-family: $additionalFontFamily;
  color: $buttonTextColor;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 13px;

  text-transform: uppercase;
  cursor: pointer;
  text-wrap: nowrap;
  @include default-animation;
  &:hover {
    background-repeat: no-repeat;
    background-size: cover;
    color: $activeAccentColor;
    transform: scale(1.1);
    @include default-animation;
  }
}
@include mobile-medium {
  .button {
    width: 160px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 12px;
  }
}
