@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.headerСontacts {
  display: flex;
  gap: 10px;
  @include laptop {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }
}
