@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.link {
  @include default-animation;
  position: relative;
  background: none;
  color: $mainTextColor;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: $mainFontFamily;
  &:hover {
    color: $secondaryAccentColor;
  }
  &:active {
    color: $activeAccentColor;
  }
  &:focus {
    color: $secondaryAccentColor;
  }
  @include tablet-medium {
    font-size: 14px;
  }
}

.linkActive {
  color: $secondaryAccentColor;
  font-style: italic;
}
