@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.footerInfo {
  @include column-flex(15px);
}
.infoList {
  @include column-flex(10px);
}
.socialItem {
  display: none;
  @include tablet-large {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
