@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';
@import '@/app/styles/_breakpoints.scss';

.pageCategoryText {
  position: relative;
}
.title {
  color: $secondaryAccentColor;
  font-size: 54px;
  font-family: $additionalFontFamily;
  text-transform: uppercase;
  @include mobile-medium {
    font-size: 36px;
  }
  @include mobile-small {
    font-size: 26px;
  }
}

.subtitle {
  position: absolute;
  left: 3px;
  bottom: 4px;
  color: $mainTextColor;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: none;
  &::after {
    content: url('./img/line.svg');
    margin-left: 17px;
    padding: 8px 0;
  }
  @include mobile-medium {
    font-size: $mainFontSize;
    left: 0px;
    bottom: 2px;
    &::after {
      content: url('./img/line-tablet.svg');
      margin-left: 8px;
      padding: 5px 0;
    }
  }
  @include mobile-small {
    font-size: 14px;
    &::after {
      content: url('./img/line-mobile.svg');
      margin-left: 4px;
      padding: 5px 0;
    }
  }
}
