@import '@/app/styles/_mixin.scss';
@import '@/app/styles/_variables.scss';

// Navbar
.navbar {
  padding-top: 25px;
  @include tablet-medium {
    display: none;
  }
}
.navList {
  display: flex;
  justify-content: space-between;
}
