@import '@/app/styles/_mixin.scss';

@mixin logo-events {
  .headerLogo {
    fill: $secondaryAccentColor;
  }
  .footerLogo {
    fill: $mainTextColor;
  }
}

// Logo
.logoContainer {
  @include flex-center;
}
.logoLink {
  fill: $mainTextColor;
  outline: none;
  &:hover {
    @include logo-events;
  }
  &:focus {
    @include logo-events;
  }
}
.LogoImage {
  @include default-animation;
}
.headerLogo {
  width: 160px;
  height: 40px;
  fill: $mainTextColor;
  &:hover {
    fill: $secondaryAccentColor;
  }
  @include laptop {
    width: 110px;
    height: 30px;
  }
  @include tablet-medium {
    width: 82px;
    height: 20px;
  }
  @include mobile-medium {
    width: 70px;
    height: 17px;
  }
}

.footerContainer {
  @include tablet-large {
    display: none;
  }
}
.footerLogo {
  fill: $redAccentColor;
  width: 95px;
  height: 25px;
}
