@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  cursor: pointer;
  @include default-animation;
  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(1.2);
  }
  &:focus {
    filter: $SvgFilter;
    fill: $secondaryAccentColor;
    transform: scale(1.2);
  }
}

.buttonImage {
  width: 24px;
  height: 24px;
  @include laptop {
    width: 20px;
    height: 20px;
  }
}
