@import '@/app/styles/_reset.scss';
@import '@/app/styles/_breakpoints.scss';
@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';
@import '@/app/styles/_fonts.scss';

body {
  font-family: $mainFontFamily;
  font-size: 16px;
  overflow-x: hidden;
}
