@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.textArea {
  @include input-textarea-border;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: $mainFontSize;
  resize: none;
  &::placeholder {
    color: $secondaryAccentColor;
  }
}
