@import '@/app/styles/_variables.scss';
@import '@/app/styles/_mixin.scss';

.textArea {
  @include input-textarea-border;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  &::placeholder {
    font-size: 14px;
    color: $secondaryAccentColor;
  }
  @include mobile-medium {
    font-size: 14px;
    &::placeholder {
      font-size: 12px;
    }
  }
}
